#listaMascotas {
    display: flex;
    flex-wrap: wrap;
    justify-content: justify; 
    padding: 0 20px;
}

.mascota {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 calc(31% - 20px);
    margin: 10px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
    padding: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.mascota:hover {
    transform: scale(1.05);
}

.mascota img {
    width: 100%;
    height: 160px;
    object-fit: contain;
    border-radius: 5px;
}

.mascota h2 { 
    width: 100%;
    text-align: center; 
}

.mascota .info, .mascota p {
    text-align: left;
    width: 100%; 
}

.mascota button {
    display: block;
    padding: 8px 10px;
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.mascota button:hover {
    background-color: #004494;
}

.mascota .status {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black; 
}
