/* Variables de colores y dimensiones */
:root {
    --fondo-oscuro: #333;
    --color-primario: #27496d;
    --color-secundario: #0056b3;
    --color-fondo-formulario: rgba(66, 66, 66, 0.9);
    --color-input-fondo: rgba(51, 51, 51, 0.9);
    --color-borde: #555;
    --color-texto: #fff;
    --sombra-box: 0 4px 6px rgba(0,0,0,0.1);
    --fondo-imagen: url('../images/fondo.jpg');
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: var(--fondo-oscuro);
    color: var(--color-texto);
    line-height: 1.6;
    padding: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
    left: 7px;
    top: 10px;
}

h1 {
    color: var(--color-texto);
    text-align: center;
    margin-bottom: 10px;
}

.formulario {
    width: 100%; /* Se asegura de que el formulario use todo el ancho del contenedor */
    max-width: 700px; /* Ajuste del ancho máximo para reducir la altura */
    margin: 20px auto;
    padding: 15px; /* Reduce el padding para disminuir la altura */
    background: var(--color-fondo-formulario);
    border-radius: 8px;
    box-shadow: var(--sombra-box);
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-texto);
    text-align: left;
}

.formulario input[type="text"],
.formulario input[type="number"],
.formulario input[type="file"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid var(--color-borde);
    border-radius: 4px;
    background: var(--color-input-fondo);
    color: var(--color-texto);
}

.formulario button#registro {
    display: block;
    width: auto; /* Permite que el botón tenga el ancho de su contenido */
    padding: 10px 20px; /* Ajusta el padding para mayor coherencia visual */
    margin: 10px auto; /* Centra el botón horizontalmente */
    background-color: var(--color-primario);
    color: var(--color-texto);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.formulario button#registro:hover {
    background-color: var(--color-secundario);
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .formulario {
        padding: 10px;
        max-width: 100%; /* Ajuste para dispositivos móviles */
    }

    h1 {
        font-size: 24px;
    }
}
