#listaMascotasAdoptadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    padding: 10px;
    gap: 10px; 
}

.mascota {
    flex: 0 1 calc(32% - 25px); 
    background-image: url('../images/fondo.jpg');  
    border: 1px solid #ddd; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 15px; 
    border-radius: 10%;
    color: white; 
}

.mascota:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.mascota img {
    width: 100%; 
    height: 200px; 
    object-fit: contain; 
    object-position: center; 
}

.mascota p {
    width: 100%; 
    text-align: left; 
    margin: 5px 0;
}

h1 .mascota, h2 .mascota {
    text-align: center; 
    margin-bottom: 20px;
    color: white; 
}
