/* Variables de colores y dimensiones */
:root {
    --fondo-oscuro: #333;
    --color-primario: #27496d;
    --color-secundario: #0a2942;
    --color-fondo-formulario: rgba(66, 66, 66, 0.9);
    --color-input-fondo: rgba(51, 51, 51, 0.9);
    --color-borde: #555;
    --color-texto: #fff;
    --sombra-box: 0 4px 6px rgba(0,0,0,0.1);
    --fondo-imagen: url('../images/fondo.jpg');
}

.sidebar {
    background-image: var(--fondo-imagen); 
    height: 92vh;
    width: 250px;
    position: fixed;
    left: 7px;
    top: 10px;
    background-color: var(--color-primario);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.sidebar button.menuButton, .sidebar button#logoutButton {
    padding: 10px 15px;
    width: 90%;
    background-color: var(--color-primario);
    color: var(--color-texto);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center; 
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.sidebar button.menuButton:hover, .sidebar button#logoutButton:hover {
    background-color: #feffff;
    color: var(--fondo-oscuro);
}

.sidebar button#logoutButton {
    background-color: #7c0a06;
    margin-top: auto;
    margin-bottom: 20px;
    text-align: center; 
}

.content {
    margin-left: 260px;
    padding: 20px;
    background-image: var(--fondo-imagen);
    border-radius: 20px;  /* Estilizado para hacer los bordes consistentes con el sidebar */
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
}

.content form input, .content form button {
    margin: 10px 0;
    padding: 12px 20px;
    width: calc(100% - 40px);
    color: var(--fondo-oscuro);
}

.content form button {
    background-color: var(--color-primario);
    color: var(--color-texto);
    border-radius: 10px;
}

.content form button:hover {
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

.login-container, .sidebar, .content {
    box-shadow: var(--sombra-box);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .content {
        margin-left: 0;
        padding: 10px;
    }
}

button { 
    background-color: var(--color-primario); 
    transition: background-color 0.3s, transform 0.2s ease-in-out; 
    position: relative; 
    overflow: hidden; 
    color: var(--color-texto);
}

button:hover { 
    background-color: var(--color-secundario); 
    transform: scale(1.05); 
}

h1, label {
    text-align: center;
    color: var(--color-texto);
}

input {
    text-align: left;
    color: var(--color-texto);
}

.content button#registro {
    margin: 10px auto; 
    width: 40%; 
    background-color: var(--color-primario); 
    color: var(--color-texto); 
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
    text-align: center; 
    transition: background-color 0.3s; 
}

#formMascota input[type='file'] {
    color: #ffffff;
    background-color: var(--color-primario); 
    border-radius: 10px;
}

#formMascota input[type='file']::file-selector-button {
    color: var(--color-primario); /* Blanco para el botón */
    background-color: white; /* Fondo del botón para coincidir con otros botones del formulario */
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#formMascota input[type='file']::file-selector-button:hover {
    background-color: #0a2942; 
    color: white;
}