.contenido-centrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh; 
    position: relative; 
}

.slider {
    width: 80%;
    height: 80%; 
    margin-bottom: 20px; 
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

#puntos {
    display: flex;
    list-style: none;
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    margin: 0;
}

#puntos li {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

#puntos li.activo {
    background-color: #333;
}
